.aw-chat-height{
    max-height: 800px;
}
.aw-chat{
    overflow-y: scroll;
    padding-left: 10px;
}
.aw-chat-item{
    margin-bottom: 10px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

.dark-mode .aw-chat-item{
    background-color: #2a2a4a;
    border: 1px solid #242442;
}
.aw-chat-item .aw-chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 14px;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #eeeeee;
}

.dark-mode .aw-chat-header{
    border-bottom: 1px solid #201e4e;
}

.aw-chat-item .aw-chat-header:hover{
    background-color: #e4e5ff;
}
.dark-mode .aw-chat-item .aw-chat-header:hover{
    background-color: #211f53;
}
.aw-chat-item .aw-chat-header .aw-project{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.aw-chat-item .aw-chat-header .aw-project h4{
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #282f53;
}
.dark-mode .aw-chat-item .aw-chat-header .aw-project h4{
    color: #dedefd;
}

.aw-chat-item .aw-chat-header .aw-time-notify{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}
.aw-chat-item .aw-chat-header .aw-time-notify .notify{
    width: 25px;
    height: 25px;
    background-color: #c11a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 12px;
    line-height: 0;
    color: white;
}


.aw-chat-item  .aw-chat-user{
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
}
.aw-chat-item  .aw-chat-user .aw-user{
    display: flex;
    gap: 5px;
    flex-grow: 1;
    flex-wrap: wrap;
}
.aw-chat-item  .aw-chat-user .aw-user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.aw-chat-item  .aw-chat-user .aw-action{
    flex-shrink: 0;
}
.aw-chat-item  .aw-chat-user .aw-action a{
    border-radius: 50%;
    border: 0;
    appearance: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aw-chat-item  .aw-chat-user .aw-action a.aw-action-success{
    background-color: #1b9783;
    color: white;
}

.aw-message{
    height: 600px;
    overflow-y: scroll;
    padding-left: 20px;

}
.aw-message .aw-message-item{
    margin-bottom: 20px;
}
.aw-message .aw-message-item img{
    border-radius: 50%;
}
.aw-message .aw-message-item .aw-message-item-text{
    background-color: #f9f9f9;
    padding: 10px 14px;
    border-radius: 5px;
    width: 90%;
}
.dark-mode .aw-message .aw-message-item .aw-message-item-text{
    background-color: #2d2d4e;
}
.aw-message .aw-message-item .aw-message-item-text p{
    margin: 0;
    padding: 0;
}
.aw-message .aw-message-item .aw-message-item-text .date{
    font-size: 12px;
}

.aw-message .aw-message-item .aw-message-item-text .attachment button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    border: 0;
    padding: 5px;
    width: 30px;
    border-radius: 5px;
    background-color: #6c5ffc;
    color: white;
}
.aw-message .aw-message-item .action button{
    border: 0;
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.dark-mode .aw-message .aw-message-item .action button{
    background-color:#2d2d4e;
}
.hr-message{
    background-color: #959595;
    margin: 20px -25px;
}
.aw-message-action textarea{
    width: 100%;
    resize: none;
    padding: 10px 10px 40px 10px;
    height: 150px;
    border: 0;
}

.dark-mode .aw-message-action textarea{
    background-color:#2d2d4e;
    color: white;
}

.aw-message-action .action button{
    padding: 5px;
    width: 50px;
    border-radius: 5px;
}

.aw-message-action .attachment{
    padding: 8px 10px;
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dark-mode .aw-message-action .attachment{
    background-color:#2d2d4e;
    box-shadow: rgb(34, 34, 62) 0px 2px 8px 0px;
}